<div id="error">
  <div *ngIf="isValid(movies) == false">
    <div id="notFound">
      <h1>Im sorry, no results found</h1>
      <img src="../../assets/notfound-removebg-preview.png" alt="" />
    </div>
  </div>

</div>
<div class="movies">
  <div *ngIf="isValid(movies)">
    <h1>Search results for : {{ title }}</h1>
    <div class="search-result">
      <div *ngFor="let movie of movies">
        <div class="movie-container" (click)="goMovie(movie.imdbID)">
          <a><img id="poster" src="{{ movie.Poster }}" class="poster" /></a>
          <div id="data-div">
            <p>Title: {{ movie.Title }}</p>
            <p>Release year: {{ movie.Year }}</p>
          </div>
          <div id="icon-div">
            <img id="icon" src="../../assets/review.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
