<div class="movie">
  <div class="movie-detail-body">
    <img id="poster" src="{{ movie.Poster }}" alt="" />
    <div class="movie-content">
      <div class="card-header">
        <h1>{{ movie.Title }}</h1>

      </div>

      <div class="year-runetime-genre">
        <p>{{ movie.Year }} |</p>
        <p>{{ movie.Runtime }} |</p>
        <p>{{ movie.Genre }}</p>
      </div>
      <p id="plot">{{ movie.Plot }}</p>
      <p id="director">Directed by: {{ movie.Director }}</p>
      <div class="ratings">
        <div *ngFor="let rating of movie.Ratings">
          <p>{{ rating.Source }} : {{ rating.Value }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="reviews">
    <div class="review-header">
      <h1>Reviews</h1>
      <div class="personal-review">
        <input type="image" id="icon" src="../../assets/review.png" (click)="openDialog()"/>
        <p>Make your review!</p>

      </div>




    </div>
    <div *ngFor="let review of reviews">

      <div class="review-card">
        <div class="score">
          <p style="font-weight: bold; margin-left: 50px">{{review.headline}}</p>

          <div class="star">
            <p style=" margin-left: 50px">{{review.score}}/5</p>
            <svg style="fill: goldenrod; margin-top: 12px;" class="ipl-icon ipl-star-icon  " xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
          </div>

        </div>


        <p>{{review.body}}</p>
      </div>

    </div>
</div>





